<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/public/main.css">
	<style>
		#pollmaker {
			display: flex;
			flex-direction: column;
		}

		.question {
			font-weight: 900;
			font-size: 400%;
			border: solid 5px red;

		}

		.option {
			font-weight: 900;
			font-size: 200%;
			border: solid 1px grey;
			display: inline-block;
			margin: 10px;
			padding: 5px;
		}

		#result {
			display: flex;
			flex-direction: column;
			border: solid green 3px;
		}
	</style>
</head>

<body>
	<%- include('../partials/header') %>
		<section>
			<div id="pollmaker">

			</div>
			<h1>Poll Result</h1>
			<div id="result">
			</div>

		</section>
		<%- include('../partials/footer') %>
			<script>
				var polldata;
				const resultdiv = document.getElementById("result");
				const pollmaker = document.getElementById("pollmaker");
				var ws = new WebSocket("ws://localhost:8080")
				var wd = new WebSocket("ws://localhost:8081")

				ws.onmessage = function (e) {
					resultt();
					pollmaker.innerHTML = e.data


				}
				function choice(e) {
					polldata = e.innerHTML;
					console.log(polldata)
					wd.send(polldata)
					pollmaker.innerHTML = `you chosed=> ${polldata}`
				}

				async function resultt() {
					var buffer = await fetch("/fetch")
					var arr = await buffer.json();


					var map = arr.reduce(function (prev, cur) {
						prev[cur] = (prev[cur] || 0) + 1;
						return prev;
					}, {})

					var jsond = "";
					for (var key in map) {
						jsond += `<div><p style="font-size:500%" >${key} =>${map[key]} votes </p></div>`;
						// console.log(key);
						// console.log(jsondata[key])
					}
					resultdiv.innerHTML = jsond;
				}


			</script>
</body>

</html>