<header>
	<div class="hflex">
		<div class="divconfig"><a href="/">Home</a></div>
		<div class="divconfig">Name</div>
		<div class="divconfig">About</div>
		<div class="divconfig">Contact Us</div>
	</div>
</header>